@{
    ViewData["Title"] = "index";
}


<h1>
    Chat App
</h1>
name : <input type="text" value="Aboellil" id="name" />
<br />
messege : <input type="text" id="messege" />
<br />
<input type="button" value="ٍSend To All" id="SendBtn" />


<input type="text" value="group name" id="groupname" />
<input type="button" value="Join" id="joinbtn" />
<input type="button" value="Send To Group" id="sendgroup" />
<input type="button" value="GetAllG" id="GetAllG" />
<input type="button" value="SendG" id="SendG" />
<ul id="messeges" class="d-block mt-5">
</ul>


<div class="container mt-5">
    <h2 class="text-center mb-4" id="GroupName"></h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Sender</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody id="GroupMess">
            
        </tbody>
    </table>
</div>


    
@section Scripts {

    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Chat.js"></script>

}